POSTGRES_USER=smartpark_user
POSTGRES_PASSWORD=smartpark_password
POSTGRES_DB=smartpark_db
POSTGRES_PORT=5434

SONARQUBE_JDBC_USERNAME=sonar
SONARQUBE_JDBC_PASSWORD=sonar
SONARQUBE_DB=sonar
SONARQUBE_PORT=9000

JWT_SECRET_KEY=SmartPark_Super_Secret_JWT_Key_2026_Secure_B2B2C
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
